<div class="form-container" id="blueprint-form">
  <%= form_for @blueprint, remote: true do |f| %>

      <div class="group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="group">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="group">
        <%= f.label :source %>
        <%= f.text_field :source %>
      </div>

      <div class="group">
        <%= f.label :source_url %>
        <%= f.text_field :source_url %>
      </div>

      <div class="group">
        <%= f.label :demo_url %>
        <%= f.text_field :demo_url %>
      </div>

      <%= f.submit %>
      <a class="button close-forms red">Close</a>
  <% end %>
</div>