<div class="project-card">
  <h2 class="title">Blueprint: <%= link_to "#{blueprint.name}", blueprint_path(blueprint) %></h2>
  <p class="description"><%= blueprint.description %></p>
  <h3>Status: <%= project.status %></h3>
  <h3>Demo Url:</h3>
  <h4><a href="<%= project.demo_url %>"><%= project.demo_url %></a></h4>
  <h3>Image</h3>
  <% if project.image_url != '' %>
      <img src="<%= project.image_url  %>" alt="">
  <% else %>
      <%= image_tag 'default.jpg' %>
  <% end %>

  <h4 class="text-center">User Stories</h4>
  <ul class="user-stories animated">
    <% blueprint.stories.to_a.slice(0, 3).each do |story| %>
        <li><%= story.content %></li>
    <% end %>
    <% if blueprint.stories.length > 3 %>
        <li><i>...<%= blueprint.stories.length - 3 %> more.</i></li>
    <% end %>
  </ul>
  <div class="card-buttons">
    <%= link_to 'Details', project_path(project), class: 'button' %>
    <a href="<%= blueprint.demo_url %>" target="_blank" class="button">Demo</a>
    <% if blueprint.source && blueprint.source_url %>
        <a href="<%= blueprint.source_url %>" target="_blank" class="button source">Source</a>
    <% end %>
  </div>
</div>