<div class="project-detail">
  <h2 class="title">My Project</h2>
  <h3>Status: <%= project.status %></h3>
  <h3>Demo Url:</h3>
  <h4><a href="<%= project.demo_url %>"><%= project.demo_url %></a></h4>
  <h3>Image</h3>
  <% if project.image_url != '' %>
      <img src="<%= project.image_url  %>" alt="">
  <% else %>
      <%= image_tag 'default.jpg' %>
  <% end %>
  <div class="card-buttons">
    <% if current_user && project.user_id == current_user.id %>
        <%= link_to 'Edit', edit_blueprint_project_path(project.blueprint, project), remote: true, class: 'button edit-mode' %>
    <% end %>
  </div>
</div>