<!DOCTYPE html>
<html>
  <head>
    <title>Eureka</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-wrapper">
      <%= render 'layouts/nav' %>
      <%= render 'layouts/banner' if current_page?(root_path) %>
      <div id="main-wrapper">
        <div class="flash-container">
          <p class="alert"><%= flash[:alert] %></p>
          <p class="notice"><%= flash[:notice] %></p>
        </div>
        <div id="main" class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <script src="/js/main.js"></script>
    </div>
  </body>
</html>
